.current-weather-container {
    align-items: center;
    border-bottom: 1px solid #839193;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: fit-content;
    padding: 5vh 3vw;
    width: fit-content;
}

.current-weather-container p:not(.measurement-unit) {
    font-size: max(1vw, 15px);
    margin-bottom: 10px;
    text-wrap: nowrap;
}

.current-weather-icon {
    grid-column: 1;
    grid-row: 1;
    height: 60px;
    margin-right: 20px;
    width: 60px;
}

.city-name {
    font-size: max(45px, 4vw);
    font-weight: 500;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 10px;
}

.date {
    grid-column: 2;
    grid-row: 2;
}

.weather-description {
    grid-column: 2;
    grid-row: 3;
}

.current-temperature {
    font-size: max(100px, 8vw);
    font-weight: 200;
    grid-column: 3;
    grid-row: 1/span 3;
    margin: 0 max(25px, 3vw);
}

.measurement-unit {
    font-size: max(25px, 2vw);
    font-weight: 300;
    grid-column: 4;
    grid-row: 1;
}

.humidity {
    grid-column: 4;
    grid-row: 2;
}

.wind {
    grid-column: 4;
    grid-row: 3;
}

@media only screen and (max-width: 600px) {
    .current-weather-container {
        padding: 2vh 3vw 2vh 3vw;
    }

    .current-temperature {
        font-size: 30px;
        grid-column: 2;
        grid-row: 1;
    }

    .current-weather-icon {
        grid-column: 1;
        grid-row: 2;
        height: 40px;
        width: 40px;
    }

    .city-name {
        font-size: 35px;
        grid-column: 1;
        grid-row: 1;
    }

    .date {
        grid-column: 1/span 2;
        grid-row: 3;
        text-align: center;
    }

    .weather-description {
        grid-column: 1/ span 2;
        grid-row: 2;
        text-align: center;
    }

    .measurement-unit {
        align-self: center;
        font-size: 20px;
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        margin-top: 5px;
    }

    .humidity {
        grid-column: 1/span 2;
        grid-row: 5;
        text-align: center;
    }

    .wind {
        grid-column: 1/span 2;
        grid-row: 4;
        text-align: center;
    }
}